body {
	background-color: AliceBlue;
	font-family: Century Gothic, sans-serif;
}

#title  {
	text-align: center;
	font-family: Century Gothic, sans-serif;
	font-variant: small-caps;
}

#catalogNavigation {
	text-align: center;
}

div.item {
	border-top: ridge 2px DarkSlateBlue;
	text-align: center;
	width: 50%;
	margin-left: 25%;
	margin-bottom: 20px;
}

.image {
	margin-bottom: 10px;
}

div.otherTitle  {
	text-align: center;
	font-family: Century Gothic, sans-serif;
	font-variant: small-caps;
	border-top: dotted; 2px DarkSlateBlue;
	margin-top: 40px;
}

div.button {
	text-align: center;
}

div.form {
	text-align: center;
	width: 40%;
	margin-left: 30%;
}

div.form span {
	display: inline-block;
	margin: 0.3em 0;
	width: 7.5em;
}